<template>

  <div
    v-if="$store.state.widgetPanel"
    id="widget-panel"
  >
    <div class="menu-content">
      <h3>{{ currentTab.title }}</h3>
    </div>

    <v-bottom-navigation
      v-model="currentTab.title"
      dark
      grow
      mandatory
      :height="height"
      :horizontal="$store.state.layout === 'portrait'"
      active-class="menu-bottom-navigation--active"
      class="menu-bottom-navigation"
    >
      <v-btn
        v-for="tab in tabs"
        :key="tab.title"
        :value="tab.title"
        :ripple="false"
        height="auto"
      >
        <span>{{ tab.title }}</span>
        <v-icon class="mr-1">{{ tab.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </div>

</template>

<script>
export default {
  data () {
    return {
      currentTab: {},
      tabs: [
        { title: 'Bonus', icon: 'mdi-trophy-award' },
        { title: 'Jackpot', icon: 'mdi-cash-usd-outline' },
        { title: 'Tournament', icon: 'mdi-trophy-outline' }
      ]
    }
  },
  computed: {
    height () {
      return this.$store.state.layout === 'portrait' ? 36 : 80
    }
  }
}
</script>

<style lang="sass" scoped>
#widget-panel
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  color: #FFF
  background-color: #333
  .menu-bottom-navigation
    box-shadow: none
    justify-content: flex-start
    &--active
      background-color: #333
      &:hover:before
        opacity: 0
  .menu-content
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: center

.landscape #widget-panel
  max-width: 270px
.portrait #widget-panel
  max-height: 200px
</style>
