<template>

  <v-navigation-drawer
    id="menu"
    v-model="$store.state.menu"
    dark
    absolute
    right
    floating
    temporary
    touchless
    disable-resize-watcher
    width="200px"
    color="#333"
  >
    <v-list nav>
      <v-list-item
        v-for="item in items"
        :key="item.title"
        @click="() => {}"
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>

</template>

<script>
export default {
  data () {
    return {
      items: [
        { title: 'History', icon: 'mdi-history' },
        { title: 'Pays', icon: 'mdi-license' },
        { title: 'Help', icon: 'mdi-help-circle-outline' }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>

</style>
