<template>

  <v-system-bar
    id="system-bar"
    dark
    color="white--text"
    class="px-4"
  >
    <div class="system-bar-inner">
      <span class="system-bar-game-name mr-2">Thor's Lightning</span>
        <a
          v-for="link in links"
          :key="link.title"
          class="system-bar-link px-2"
        >{{ link.title }}</a>
      <span class="system-bar-clock ml-2">{{ clock }}</span>
    </div>
  </v-system-bar>

</template>

<script>
export default {
  data () {
    return {
      clock: null,
      links: [
        { title: 'Help' },
        { title: 'Pays' }
      ]
    }
  },
  methods: {
    getCurrentTime () {
      const now = new Date()

      return [now.getHours(), now.getMinutes(), now.getSeconds()]
        .map(i => i < 10 ? `0${i}` : i)
        .join(':')
    }
  },
  created () {
    this.clock = this.getCurrentTime()
    setInterval(() => {
      this.clock = this.getCurrentTime()
    }, 1000)
  }
}
</script>

<style lang="sass" scoped>
#system-bar
  .system-bar-inner
    display: flex
    align-items: center
    justify-content: flex-end
    width: 100%
    height: 100%
    .system-bar-link
      color: #FFF
      text-transform: uppercase
      text-decoration: underline
</style>
