<template>

  <div class="stake-controls">
    <BaseButton
      class="stake-button stake-button-minus"
      @click="stakeMinus()"
    >
      <v-icon>mdi-minus</v-icon>
    </BaseButton>
    <div class="stake-value">${{ formattedStake }}</div>
    <BaseButton
      class="stake-button stake-button-plus"
      @click="stakePlus()"
    >
      <v-icon>mdi-plus</v-icon>
    </BaseButton>
  </div>

</template>

<script>
import BaseButton from '@/components/base/BaseButton'

export default {
  components: { BaseButton },
  data () {
    return {
      stake: 1,
      increment: 0.5
    }
  },
  computed: {
    formattedStake () {
      return this.stake.toFixed(2)
    }
  },
  methods: {
    stakeMinus () {
      this.stake - this.increment > 0 && (this.stake -= this.increment)
    },
    stakePlus () {
      this.stake += this.increment
    }
  }
}
</script>

<style lang="sass" scoped>
.stake-controls
  display: flex
  align-items: center
  justify-content: center
  // text-align: center
  position: relative
  height: 80px
  width: 300px
  .stake-button
    position: absolute
    bottom: 8px
    &-minus
      left: 0
    &-plus
      right: 0
  .stake-value
    display: flex
    align-items: center
    justify-content: center
    font-size: 2em
    font-weight: bold
    padding: 10px 40px
    margin: 0 20px
    border-radius: 10px
    height: calc(100% - 8px)
    // height: 100%
    background-color: rgba(#000, .55)
</style>
