<template>

  <div id="bottom-bar" class="c">
    <div class="asd">
      <StakeControls />
    </div>
  </div>

</template>

<script>
import StakeControls from '@/components/bottom-bar/_StakeControls'

export default {
  components: {
    StakeControls
  }
}
</script>

<style lang="sass" scoped>
#bottom-bar
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  bottom: 0
  width: 100%
  height: 64px
  color: #FFF
  background: linear-gradient(to top, rgba(#000, 0.5) 0%, rgba(#000, 0) 100%)
  .asd
    position: absolute
    bottom: 0
    background-color: #ccc
    // padding: 50px 100px
    padding: 10px
    display: flex
    align-items: center
    justify-content: center
    border: 2px solid red
</style>
