<template>

  <v-toolbar
    id="toolbar"
    dark
    flat
    dense
    absolute
    color="transparent"
    width="100%"
  >
    <div class="toolbar-inner">
      <v-btn small icon class="ml-1" @click="toggleWidgetPanel()"><v-icon>{{ widgetPanelIcon }}</v-icon></v-btn>
      <v-spacer />
      <v-btn small icon class="ml-1"><v-icon>mdi-volume-high</v-icon></v-btn>
      <v-btn small icon class="ml-1"><v-icon>mdi-fullscreen</v-icon></v-btn>
      <v-btn small icon class="ml-1"><v-icon>mdi-bell</v-icon></v-btn>
      <v-btn small icon class="ml-1"><v-icon>mdi-settings</v-icon></v-btn>
      <v-btn small icon class="ml-1" @click="toggleMenu()"><v-icon>mdi-menu</v-icon></v-btn>
    </div>
  </v-toolbar>

</template>

<script>
export default {
  computed: {
    widgetPanelIcon () {
      if (this.$store.state.layout === 'portrait') {
        return this.$store.state.widgetPanel ? 'mdi-chevron-up' : 'mdi-chevron-down'
      } else {
        return this.$store.state.widgetPanel ? 'mdi-chevron-left' : 'mdi-chevron-right'
      }
    }
  },
  methods: {
    toggleWidgetPanel () {
      this.$store.state.widgetPanel = !this.$store.state.widgetPanel
    },
    toggleMenu () {
      this.$store.state.menu = !this.$store.state.menu
    }
  }
}
</script>

<style lang="sass" scoped>
#toolbar
  background: linear-gradient(to bottom, rgba(#000, 0.5) 0%, rgba(#000, 0) 100%)
  .toolbar-inner
    display: flex
    align-items: center
    width: 100%
</style>
