<template>

  <button
    :class="['base-button', classes]"
    v-on="$listeners"
  >
    <div class="base-button--inner"><slot /></div>
  </button>

</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    },
    toggleable: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classes () {
      return {
        'base-button--active': this.active,
        'base-button--disabled': this.disabled
      }
    }
  }
}
</script>

<style lang="sass" scoped>
// .base-button
//   display: inline-block

.base-button
  outline: none
  display: inline-block
  margin-top: -4px
  border-radius: 8px
  box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35)
  transition: box-shadow 100s ease-in-out
  color: #fff

  &--inner
    display: inline-block
    padding: 20px 30px
    background-color: #ec528d
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)))
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2))
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2))
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2))
    border-radius: 8px
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15)
    font-family: 'Pacifico', Arial, sans-serif
    line-height: 1
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7)
    transition: background-color 100ms ease-in-out, transform 20ms ease-out

  &:hover &--inner
    background-color: #ec6a9c
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8)

  &:active
    box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3)

  &:active &--inner
    transform: translate(0, 6px)
</style>
