<template>

  <div id="stage" />

</template>

<script>
export default {

}
</script>

<style lang="sass" scoped>
#stage
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  background-image: url('/dopamine.jpg')
  background-size: cover
  background-position: center
</style>
