<template>

  <div id="game-container">
    <Toolbar />
    <Stage />
    <BottomBar />
    <span class="resolution">{{ width }} x {{ height }}</span>
  </div>

</template>

<script>
import Toolbar from '@/components/toolbar/Toolbar'
import Stage from '@/components/game-container/_Stage'
import BottomBar from '@/components/bottom-bar/BottomBar'

export default {
  components: {
    Toolbar,
    Stage,
    BottomBar
  },
  data () {
    return {
      width: null,
      height: null
    }
  },
  methods: {
    handleResize () {
      setTimeout(() => {
        const game = document.querySelector('#game-container')
        this.width = game.offsetWidth
        this.height = game.offsetHeight
      }, 200)
    }
  },
  mounted () {
    this.handleResize()
    window.addEventListener('resize', this.handleResize)
    this.$store.watch(
      (state) => state.widgetPanel,
      () => this.handleResize()
    )
  }
}
</script>

<style lang="sass" scoped>
#game-container
  position: relative
  height: 100%
  width: 100%
  .resolution
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    color: #FFF
    background-color: #333
    padding: 10px
    font-weight: bold
</style>
