<template>
  <v-app>
    <SystemBar />
    <v-content>
      <div id="content" :class="layout">
        <WidgetPanel />
        <GameContainer />
        <Menu />
      </div>
    </v-content>
    <!-- Notifications -->
    <!-- Dialogs -->
  </v-app>
</template>

<script>
import SystemBar from '@/components/system-bar/SystemBar'
import WidgetPanel from '@/components/widget-panel/WidgetPanel'
import GameContainer from '@/components/game-container/GameContainer'
import Menu from '@/components/menu/Menu'

export default {
  name: 'app',
  components: {
    SystemBar,
    WidgetPanel,
    GameContainer,
    Menu
  },
  computed: {
    layout () {
      // return this.$vuetify.breakpoint.mdAndDown
      //   ? 'portrait'
      //   : 'landscape'
      return this.$vuetify.breakpoint.height > this.$vuetify.breakpoint.width
        ? 'portrait'
        : 'landscape'
    }
  },
  watch: {
    layout: {
      handler () {
        this.$store.state.layout = this.layout
      },
      immediate: true
    }
  }
}
</script>

<style lang="sass">
html
  overflow: hidden !important
  user-select: none
  // touch-action: none

.c
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%

#content
  display: flex
  height: 100%
  &.portrait
    flex-direction: column
</style>
